.lastPage {
    display: grid;

    grid-template-areas:
            "firstBlock secondBlock lastBlock";

    grid-template-rows: 1fr;
    grid-template-columns: 4fr 4fr 4fr;
    grid-gap: 1px;
}

.firstBlock {
    grid-area: firstBlock;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondBlock {
    grid-area: secondBlock;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastBlock {
    grid-area: lastBlock;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture img {
    width: 280px;
}

.picture {
    text-align: center;
    top: 180px;
    left: 950px;
}

.someText {
    background: orange;
    border: 5px solid lightgreen;
    border-radius: 8px;
    color: black;
    padding: 15px;
    margin: 25px;
    top: 250px;
    left: 50px;
}